body {
background: url("neutral.jpg") no-repeat bottom center scroll; 
       -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
font-family: Helvetica;
}

window.scroll({
scroll-behavior: smooth;
});

img {
	max-width: 100%;
}

  @media only screen and (max-width: 768px) {
    img {
  display: block;
  max-width: 100%;
  padding: 1% 5%;
    }
}

iframe {
  max-width: 100%;
}

#main {
width: 80%;
max-width: 950px;
border: 1px gray solid;
margin: auto;
padding: 10px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
border-radius: 10px;
}

#header {
margin-top: 0;
border: 2px solid black;
padding: 5px;
height: 250px;
background: beige;
background: url("tvkid.jpg") no-repeat bottom center scroll; 
       -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
color: orange;
text-align: center;
    }

label {
display: inline-block;
}

h1 {
	color: orange;
	text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

h2 {
clear: both;
padding-top: 20px;
}

p {
	padding-left: 40px;
	font-size: 22px;
	font-weight: bold;
}

.word {
  text-align:center;
}

button {
width: 100px;
margin-top: 20px;
}

input[type=radio] {
  display: none;
}

input:checked + img {
  border:2px solid #00f;
}

.answer {
	display: inline-block;
	max-width: 35%;
	padding: 1% 5%;
}



button {
	display: block;
	width: 100%;
	background-color: #00B2FF;
	color: white;
	height: 3em;
	font-size: 1em;
	font-weight: bold;
	border: none;
}

button:hover {
	background-color: green;
}

.answersection {
	text-align: center;
}
.answer:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
